{% load static %}
<section class="bg-base container text-black py-20 px-4 mx-auto">
    <div class="flex justify-between mb-8">
        <h2 class="text-3xl font-bold mb-8 slide-in-bottom-h1 text-primary">Categorías</h2>
        <button class="text-primary">Ver todas</button>
    </div>

    <div id="category-container" class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-8">
        <!-- Los productos se cargarán aquí mediante JavaScript -->
    </div>

    <!-- Template para una categoría -->
    <template id="category-template">
        <div class="bg-white rounded-lg shadow-lg overflow-hidden transform transition duration-300 hover:scale-105 hover:shadow-xl">
            <img src="" alt="" class="w-full h-48 object-cover object-center">
            <div class="p-6">
                <h3 class="text-2xl font-semibold text-gray-800 mb-2 hover:text-primary transition-colors">{{ category.name }}</h3>
                <p class="text-gray-600 text-base mb-4">{{ category.description }}</p>
                <a href="#" class="bg-primary text-white px-6 py-2 rounded-full hover:bg-primary-dark focus:outline-none transition-colors">
                    Ver más
                </a>
            </div>
        </div>
    </template>
</section>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        fetch('products/api/list/categories/')
            .then(response => response.json())
            .then(data => {
                const container = document.getElementById('category-container');
                const template = document.getElementById('category-template');

                data.forEach(category => {
                    const categoryClone = template.content.cloneNode(true);

                    categoryClone.querySelector('img').src = category.image;
                    categoryClone.querySelector('img').alt = category.name;
                    categoryClone.querySelector('h3').textContent = category.name;
                    categoryClone.querySelector('p').textContent = category.description;
                    categoryClone.querySelector('a').href = `/products/?category=${category.id}`;

                    container.appendChild(categoryClone);
                });
            })
            .catch(error => console.error('Error al cargar las categorías:', error));
    });
</script>
