{% load static %}
<section class="bg-base container text-black py-20 px-4 mx-auto">
    <header class="flex justify-between mb-12">
        <h2 class="text-3xl font-bold text-primary slide-in-bottom-h1">Contáctanos</h2>
    </header>

    <div class="grid grid-cols-1 sm:grid-cols-2 gap-8 px-6">
        <div class="flex items-center">
            <div class="w-16 h-16 bg-primary text-white flex items-center justify-center rounded-full mr-6">
                <i class="fas fa-map-marker-alt text-2xl"></i>
            </div>
            <div>
                <h2 class="text-2xl font-bold mb-4 text-gray-800 slide-in-bottom-h1">
                    ¿Tienes alguna duda?
                </h2>
                <p class="text-lg mb-6 text-gray-600 slide-in-bottom-subtitle">
                    Contáctanos y te ayudaremos a resolver tus dudas.
                </p>
                <a href="mailto:aterana3@unemi.edu.ec"
                   class="bg-primary text-white font-bold rounded-full py-3 px-8 shadow-md transition duration-300 hover:bg-primary-dark hover:shadow-lg uppercase tracking-wide inline-block">
                    Contactar
                </a>
            </div>
        </div>
    </div>
</section>

