{% load static %}
<section class="bg-base container text-black py-20 px-4 mx-auto">
    <header class="flex justify-between mb-8">
        <h2 class="text-3xl font-bold mb-8 slide-in-bottom-h1 text-primary">Productos recién agregados</h2>
    </header>
    <div id="recent_added-container" class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-8">
    </div>

    <template id="recent_added-template">
        <article class="bg-white rounded-lg shadow-lg transition-transform transform hover:scale-105 hover:shadow-2xl max-w-xs mx-auto">
            <img src="" alt="" class="object-cover object-center w-full h-56 rounded-t-lg">
            <div class="p-5">
                <h3 class="text-2xl font-semibold text-gray-800"></h3>
                <div class="flex items-center justify-between mt-5">
                    <span class="text-lg font-semibold text-primary"></span>
                    <button class="bg-primary hover:bg-primary-dark text-white px-4 py-2 rounded-lg transition-colors duration-300">Ver detalle</button>
                </div>
            </div>
        </article>
    </template>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            fetch('products/api/list/recent-added/')
                .then(response => response.json())
                .then(data => {
                    const container = document.getElementById('recent_added-container');
                    const template = document.getElementById('recent_added-template');

                    data.forEach(product => {
                        const productClone = template.content.cloneNode(true);

                        productClone.querySelector('img').src = product.image;
                        productClone.querySelector('img').alt = product.name;
                        productClone.querySelector('h3').textContent = product.name;
                        productClone.querySelector('span').textContent = `$${product.price}`;

                        container.appendChild(productClone);
                    });
                })
                .catch(error => console.error('Error al cargar los productos:', error));
        });
    </script>
</section>
