{% extends "settings_layout.html" %}

{% block settings_content %}
    {% if current_device %}
        <div class="mb-4">
            <h2 class="text-lg font-semibold">Dispositivo actual</h2>
            <div class="border rounded p-4 flex justify-between items-center">
                <div>
                    <p class="text-xl">{{ current_device.os }} - {{ current_device.device_type }}</p>
                    <p class="text-sm">Ubicación: {{ current_device.location }}</p>
                    <p class="text-sm">Última actividad: {{ current_device.last_activity }}</p>
                </div>
                <a href="{% url 'authentication:logout'%}" class="bg-red-500 hover:bg-white hover:border-red-500 hover:text-red-500 text-white font-bold py-2 px-4 rounded border border-transparent">
                    Cerrar sesión
                </a>
            </div>
        </div>
    {% endif %}
    {% if devices %}
        {% if devices|length > 1 %}
            <div class="mb-4">
                <h2 class="text-lg font-semibold">Otros dispositivos</h2>
                {% for device in devices %}
                    {% if device != current_device %}
                        <div class="border rounded p-4 flex justify-between items-center mt-4">
                            <div>
                                <p class="text-xl">{{ device.os }} - {{ device.device_type }}</p>
                                <p class="text-sm">Ubicación: {{ device.location }}</p>
                                <p class="text-sm">Última actividad: {{ device.last_activity }}</p>
                            </div>
                            <a href="{% url 'settings:device_close_session' device.id %}" class="bg-red-500 hover:bg-white hover:border-red-500 hover:text-red-500 text-white font-bold py-2 px-4 rounded border border-transparent">
                                Cerrar sesión
                            </a>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
    {% else %}
        <p>No hay dispositivos disponibles.</p>
    {% endif %}
    <div class="mb-4 text-right">
        <a href="{% url 'settings:device_scan' %}" class="text-sm text-primary hover:text-primary-light">Add</a>
    </div>
{% endblock settings_content %}
