<ul class="flex flex-col">
    <li class="m-4 flex items-center">
        <i class="fas fa-user mr-2 text-primary"></i>
        <a href="{% url 'settings:profile' %}" class="text-primary hover:text-primary-light">Profile</a>
    </li>
    <li class="m-4 flex items-center">
        <i class="fas fa-mobile-alt mr-2 text-primary"></i>
        <a href="{% url 'settings:devices' %}" class="text-primary hover:text-primary-light">Devices</a>
    </li>
    <li class="m-4 flex items-center">
        <i class="fas fa-box mr-2 text-primary"></i>
        <a href="{% url 'settings:products' %}" class="text-primary hover:text-primary-light">My products</a>
    </li>
    <li class="m-4 flex items-center">
        <i class="fa-regular fa-file mr-2 text-primary"></i>
        <a href="{% url 'settings:invoices' %}" class="text-primary hover:text-primary-light">My invoices</a>
    </li>
</ul>
